@using LeaveManagement.Web.Views;
@model EmployeeLeavesListViewModel;

@{
    ViewData["Title"] = "My Leaves";
}

<h1>My Leave Allocations</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LeaveAllocations[0].LeaveType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveAllocations[0].NumberOfDays)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveAllocations[0].Year)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.LeaveAllocations)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>

            </tr>
        }

    </tbody>
</table>

<hr />

<h1>My Leave Requests</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateStarted)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateEnded)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].IsCancelled)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].IsApproved)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.LeaveRequests)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateStarted)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateEnded)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsCancelled)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>

                <td>
                    <a class="cancel-btn" data-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }

       

    </tbody>
</table>

<form id="CancelForm" asp-action="Cancel">
    <input type="hidden" id="requestId" name="Id" />
</form>


@section Scripts{
    <script>
    $(function(){
            $(".cancel-btn").click(function (e) {
            var button = $(this);
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to CANCEL your request?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then(function(confirm){
                    if (confirm){
                        var id = button.data("id");
                        $("#requestId").val(id);
                        $("#CancelForm").submit();
                    };
                });
        });
    });
    </script>}
